<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <title>かくてるん</title>
</head>

<body>
  <header>KAKUTERUN</header>
  <div id="app">
    <section class="discription">
      <div>・使うお酒のアルコール度数は必須です。</div>
      <div>・使うお酒のアルコール度数のほかに2項目の入力が必要です。</div>
    </section>
    <form @submit.prevent="handleSubmit">
      <div v-for="field in fields" :key="field.name" class="form-control">
        <label :for="field.name">{{ field.label }}<span v-if="field.required" class="required">*</span></label>
        <span v-if="kakuteru" class="result">{{ kakuteru[field.name] }}</span>
        <input v-else v-model="formData[field.name]" :id="field.name" type="number" :disabled="isDisabled(field.name)"
          :required="field.required"><span class="unit">{{ field.unit}}</span>
      </div>

      <div class="actions">
        <button v-if="kakuteru" @click="back" type="button" class="back">もどるん</button>
        <button v-else type="submit" class="submit" :disabled="submitDisabled()">カクテルつくるん</button>
        <button @click="reset" type="button" class="reset">最初から</button>
      </div>
    </form>
  </div>

  <script src="script.js"></script>
  <script>
    // service workerの登録関係
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service_worker.js').then(function (registration) {
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }).catch(function (err) {
        console.log('ServiceWorker registration failed: ', err);
      });
    }
  </script>
</body>


</html>
