body {
  box-sizing: content-box;
  margin: 0;
  color: #273233;
}

header {
  color: white;
  background-color: #5cd5e6;
  padding: 12px;

  font-weight: bold;
  font-size: 1.2em;

  display: flex;
  align-items: center;
}

.discription {
  padding: 12px;
  margin: 12px;

  border: lightgray 1px solid;
  border-radius: 4px;

  font-size: 12px;
  color: dimgray;
}

form {
  padding: 12px;

  .form-control {
    display: flex;
    align-items: center;
    height: 36px;

    margin-bottom: 16px;

    label {
      width: 65%;

      .required {
        color: red;
        font-weight: bold;
        font-size: 12px;
      }
    }

    input {
      height: 100%;
      width: 25%;
      border-radius: 4px;
      border: #9dc7cc 1px solid;

    }

    .unit {
      margin-left: 4px;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;

  margin-top: 24px;

  button {
    padding: 12px;
    margin-bottom: 12px;

    border-radius: 4px;
    border: #4f6366 1px solid;
    color: #4f6366;
    background-color: white;

    cursor: pointer;

    &.submit {
      border: #5cd5e6 1px solid;
      color: white;
      background-color: #5cd5e6;
      font-weight: bold;

      &:disabled {
        background-color: whitesmoke;
        color: lightgray;
        border-color: lightgray;
      }
    }
  }
}
